streamlit>=1.45.0
langgraph>=0.4.5
langchain>=0.3.25
langchain-core>=0.3.60
langchain-groq>=0.3.2
langchain-community>=0.3.24
langchain-huggingface>=0.2.0
langchain-mcp-adapters>=0.1.1
faiss-cpu>=1.11.0
pypdf>=5.5.0
duckduckgo-search>=8.0.2
aiosqlite>=0.21.0
requests>=2.32.3
python-dotenv>=1.1.0
mcp>=1.9.0
fastmcp>=2.5.1
huggingface_hub>=0.31.4
typing-extensions>=4.13.2
langgraph-checkpoint-sqlite
